<p style="color: green"><%= notice %></p>


<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <p class="col-md-8 fs-4">
           <%= render @friend %>
        </p>
        <br/><br/>
        <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-outline-secondary" %> 
         <%= link_to "Back to friends", friends_path, class:"btn btn-outline-secondary" %>
         <%= button_to "Destroy this friend", @friend, method: :delete %>

      </div>
    </div>

